<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header_head">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="ISO-8859-1">
    <title>Configuration Tools</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/formatter.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/menu.css}" />
    <script src="https://cdn.jsdelivr.net/npm/vkbeautify"></script>
</head>
    <body>
        <div class="navbar" th:fragment="header_nav">
            <a href="/">Home</a>
            <a href="/beautify">Beautify</a>
            <a href="#news">News</a>
            <a href="#news">News</a>
            <a href="#news">News</a>
            <a href="#news">News</a>
            <a href="#news">News</a>
        </div>
    </body>
</html>
