<table th:fragment="menu" xmlns:th="http://www.w3.org/1999/xhtml">
    <tr>
        <td style="background-color: #e1ad1e">
            <ul>
                <h5 style="text-align: center">Design</h5>
                <li><a href="https://dbdiagram.io/" target="_top">DB Diagram</a></li>
                <li><a href="https://ogom.github.io/draw_uml/plantuml/" target="_self">Plant Uml</a></li>
                <li><a href="https://app.diagrams.net/" target="_self">Draw.io</a></li>
            </ul>
        <td style="background-color: #4ea2b1">
            <ul>
                <h5 style="text-align: center">Cloud</h5>
                <li><a href="https://render.com/" target="_self">Render IO</a></li>
                <li><a href="https://aws.amazon.com/" target="_self">AWS</a></li>
                <br>
            </ul>
        </td>
        <td style="background-color: #5ba49e">
            <ul>
                <h5 style="text-align: center">Common Tool</h5>
                <li><a href="https://www.qr-code-generator.com/" target="_self">QR Generator</a></li>
                <li><a href="https://www.unixtimestamp.com/" target="_self">Unix Timestamp</a></li>
                <li><a href="https://www.canva.com/colors/color-wheel/" target="_self">Color Wheel</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="background-color: #c85937">
            <ul>
                <h5 style="text-align: center">Note & AI</h5>
                <li><a href="https://chatgpt.com/" target="_self">ChatGPT</a></li>
                <li><a href="https://poe.com/" target="_self">Poe GPT</a></li>
                <li><a href="https://www.notion.so/" target="_self">Notion IO</a></li>
                <br><br><br><br><br>
            </ul>
        </td>

        <td style="background-color: #e1ad1e">
            <ul>
                <h5 style="text-align: center">Software</h5>
                <li><a href="https://git-scm.com/downloads" target="_self">GIT SCM</a></li>
                <li><a href="https://download.jetbrains.com/idea/ideaIC-2021.3.3.exe?_gl=1*5w4lt7*_gcl_aw*R0NMLjE3MTg4Njg1ODkuQ2p3S0NBandwcy16QmhBaUVpd0FMd3NWWVYzX0ZhMENjcmFmcDdmZFBuT1JuTGNYbVFRMThlbXh4MmJ1ejloRU1sbGNCYV9qLS03TDhSb0N3ZVlRQXZEX0J3RQ..*_gcl_au*ODAzOTM1MjMzLjE3MjU5NDQ2NDk.*_ga*MTE5MDc2MDU3My4xNzE1MjI0Mzcz*_ga_9J976DJZ68*MTcyNjEyOTg2Ny4xNC4wLjE3MjYxMjk4ODguMzkuMC4w" target="_self">Intellij IDEA</a></li>
                <li><a href="https://code.visualstudio.com/download" target="_self">VS Code</a></li>
                <li><a href="https://docs.docker.com/desktop/install/windows-install/" target="_self">Docker</a></li>
                <li><a href="https://keepass.info/download.html" target="_self">Keepass</a></li>
                <li><a href="https://insomnia.rest/download" target="_self">Insomnia</a></li>
                <li><a href="https://www.postman.com/downloads/" target="_self">Postman</a></li>
                <li><a href="https://notepad-plus-plus.org/downloads/" target="_self">Notepad++</a></li>
            </ul>
        </td>

        <td  style="background-color: #c85937">
            <ul>
                <h5 style="text-align: center">Repository</h5>
                <li><a href="https://github.com/" target="_self">Github</a></li>
                <li><a href="https://hub.docker.com/_/registry" target="_self">Docker Hub</a></li>
                <li><a href="https://about.gitlab.com/" target="_self">Git Lab</a></li>
                <li><a href="https://bitbucket.org/" target="_self">Bitbucket</a></li>
                <br><br><br><br>
            </ul>
        </td>

    </tr>

    <tr>
        <td style="background-color: #4ea2b1">
            <ul>
                <h5 style="text-align: center">Database</h5>
                <li><a href="https://sqlzoo.net/wiki/SQL_Tutorial" target="_self">SQL Zoo</a></li>
                <li><a href="https://www.kaggle.com/code/alexisbcook/joins-and-unions" target="_self">Kaggle</a></li>
                <li><a href="https://www.mongodb.com/developer/products/mongodb/cheat-sheet/" target="_self">Mongodb</a></li>
            </ul>
        </td>
        <td style="background-color: #5ba49e">
            <ul>
                <h5 style="text-align: center">Education</h5>
                <li><a href="https://kodekloud.com/" target="_self">Kodekloud</a></li>
                <li><a href="https://www.udemy.com/" target="_self">Udemy</a></li>
                <li><a href="https://www.youtube.com" target="_self">Youtube</a></li>
            </ul>
        </td>
        <td style="background-color: #e1ad1e">
            <ul>
                <h5 style="text-align: center">Learning Resource</h5>
                <li><a href="https://www.geeksforgeeks.org/rm-command-linux-examples/?ref=lbp" target="_self">Linux CMD</a></li>
                <li><a href="https://www.visualpath.in/devopstutorials/devops" target="_self">Devops 01</a></li>
                <li><a href="https://www.javacodegeeks.com/" target="_self">Java Code Geeks</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td style="background-color: #5ba49e">
            <ul>
                <h5 style="text-align: center">Education Center</h5>
                <li><a href="https://roadmap.sh/" target="_self">Roadmap IO</a></li>
                <li><a href="https://dev.to/" target="_self">Dev Community</a></li>
                <li><a href="https://daily.dev/" target="_self">Daily Dev</a></li>
                <li><a href="https://stackoverflow/" target="_self">Stack overflow</a></li>
            </ul>
        </td>
    </tr>

</table>