<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{fragments/header :: header_head}"></head>

	<body>
		<header th:replace="~{fragments/header :: header_nav}"></header>

		<table th:replace="~{fragments/menu :: menu}"></table>
<!--		<p>Useful Resources</p>-->
<!--		<a href="https://poe.com/" class="btn btn-success btn-md mb-3">Poe GPT</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--		<a th:href="@{/beautify}" class="btn btn-success btn-md mb-3">Beautify</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->

	</body>
</html>