<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/header :: header_head}"></head>
    <body>
    <header th:replace="~{fragments/header :: header_nav}"></header>

    <div class="formatter-container">
        <textarea id="jsonInput" placeholder="Paste your JSON data here" spellcheck="false"></textarea>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        <button onclick="beautifyJson()">Beautify JSON</button>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div th:replace="~{format/xml :: xml-formatter}"></div>
    <script>
            function beautifyJson() {
                var jsonInput = document.getElementById('jsonInput').value;
                try {
                    var jsonObj = JSON.parse(jsonInput);
                    var beautifiedJson = JSON.stringify(jsonObj, null, 2);
                    document.getElementById('jsonInput').value = beautifiedJson;
                } catch (error) {
                    alert('Invalid JSON format. Please input valid JSON.');
                }
            }
        </script>
    </body>
</html>